<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dissolution Exchange</title>

    <meta name="description" content="Palm">
    <meta name="author" content="Tim Clancy">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              Dissolution <small>Dashboard</small>
            </h1>
          </div>

          <!-- A panel for displaying error messages to the user. -->
          <div id="errorBox" class="collapse alert alert-danger" role="alert">
            This is where we display errors.
          </div>

          <!-- A panel for displaying the user's profile information. -->
          <div class="panel panel-default">
            <h2>
              Your Profile
            </h2>

            <!-- This section displays items read from the game server. -->
            <div id="profileTitle">
              Your profile data:
            </div>
            <div id="profileSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="profileInformation" style="list-style-type:circle">
            </ul>
          </div>

          <!-- A panel for displaying game assets. -->
          <div class="panel panel-default">
            <h2>
              Your Assets
            </h2>

            <!-- This section displays items read from the game server. -->
            <div id="ownedTitleGame">
              You do not own any game server assets.
            </div>
            <div id="gameServerSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="ownedListGame" style="list-style-type:circle">
            </ul>

            <!-- This section displays items read from the blockchain. -->
            <div id="enjinMessage">
            </div>
            <div id="linkingQR"></div>
            <div id="ownedTitleEnjin">
              You do not own any Enjin ERC-1155 assets.
            </div>
            <div id="enjinSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="ownedListEnjin" style="list-style-type:circle">
            </ul>
          </div>

          <!-- This button displays the minting checkout modal. -->
          <br />
          <button id="mintButton" class="btn btn-primary collapse" data-toggle="modal" data-target="#mintingCheckoutModal">Mint New Asset</button>
          <br />

          <!-- This modal contains the contents for minting checkout. -->
          <div class="modal fade" id="mintingCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="mintingCheckoutModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="mintingCheckoutModalLongTitle">Minting Checkout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="mintingCheckoutContent" class="modal-body">
                  You have no items which can be ascended to Enjin at this time.
                </div>
                <div class="modal-footer">
                  <button id="mintingCheckoutClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button id="mintingCheckoutPurchase" type="button" class="btn btn-primary">Checkout</button> -->
                  <div id="paypal-button-container"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- A button that logs the user out. -->
          <button id="logoutButton" class="btn btn-primary">Logout</button>

          <!-- An alert for the most-recent error to be displayed. -->
          <div id="errorBox" class="collapse alert alert-danger" role="alert">
            This is where we display errors.
          </div>
        </div>
      </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-input-spinner.js"></script>
    <script src="/js/dashboardScript.js"></script>
  </body>
</html>
